main {
  flex-grow: 1;
  background-color: var(--primaryBgColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font);
  padding: 1rem 0;
  gap: 0.5rem;
}

.target {
  width: 200px;
}

#list__label {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondaryTextColor);
}

#list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: bold;
  text-align: center;
}

#list__input-filter {
  border: none;
  outline: none;
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
}
