.burger{
  background-image: url('../../img/menu.png');
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0.5rem;
  top: 0;
  width: 32px;
  height: 32px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

a{
  cursor: pointer;
}



.burger--open{
  background-image: url('../../img/menu--open.png');
}

.burger__links{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -200px;
  top: 2rem;
  gap: 0.5rem;
  padding: 0.7rem;
  background-color: var(--secondaryBgColor);
  color: var(--secondaryTextColor);
  border-radius: 0 0 0 10px;
  display: none;
  animation: burger 0.5s ease-in 0s 1 normal;
}

.burger__links li{
  color: var(--secondaryTextColor);
}

@keyframes burger {
  from{
    display: none;
    right: -60px;
  }
  to{
    display: block;
    right: 0;
  }
  
}

.burger__links--open{
  display: block;
  right: 0;
}

nav>ul>li{
  color: var(--secondaryTextColor);
}

@media (min-width:700px){
  .burger{
    display: none;
  }
  .burger__links{
    position: inherit;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 1rem;
  }

}

