main{
  flex-grow: 1;
  background-color: var(--primaryBgColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.target{
  width: 200px;
  height: 200px;
  border: 2px solid #6e1717;
  transition: all 1.5s ease-out;
}

.square{
  border-radius: 0%;
  background-color: #6d3f84;
}

.circle{
  border-radius: 50%;
  background-color: #4bb75d;
}

@media (min-width: 700px) {
  
  main{
    flex-direction: row;
  }

  .target{
    width: 40vh;
    height: 40vh;
  }
}