@import url(./global/reset.css);
@import url(./global/variables.css);
@import url(./global/base.css);
@import url(./component/navbar.css);
@import url(./component/mainSection.css);
@import url(./component/footer.css);
@import url(./component/shoppingcart.css);