main{
  flex-grow: 1;
  background-color: var(--primaryBgColor);
}

.target{
  width: 200px;
}

#movie-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 0.5rem;
}

.movie-container__movie-card{
  display: flex;
  flex-direction: column;
}

.movie-container__movie-card__poster{
  width: 100%;
  border-radius: 10px;
}

.movie-container__movie-card__title{
  padding: 1rem;
  text-align: center;
}

@media (min-width: 650px){
  #movie-container{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (min-width: 800px){
  #movie-container{
    grid-template-columns: repeat(4,1fr);
  }
}

@media (min-width: 950px){
  #movie-container{
    grid-template-columns: repeat(5,1fr);
  }
}
@media (min-width: 1100px){
  #movie-container{
    grid-template-columns: repeat(6,1fr);
  }
}
@media (min-width: 1250px){
  #movie-container{
    grid-template-columns: repeat(7,1fr);
  }
}